#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

.box {
    /* From https://css.glass */
       background: rgba(255, 255, 255, 0.25);
       border-radius: 16px;
       box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
       backdrop-filter: blur(5px);
       -webkit-backdrop-filter: blur(5px);
       border: 1px solid rgba(255, 255, 255, 0.3);
       width: 800px;
       overflow: auto;
       padding: 90px;
    }
.profile-pic {
        border-radius: 100px;
        width: 130px;
        height: 130px;
    }
    
.bio {
        font-size: 22px;
        margin: 0;
    }

body{
        background-color: #111;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        display: fixed;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        background-color: rgb(10, 10, 10);
        display: grid;
        height: 100vh;
        margin: 0px;
        overflow: hidden;
        place-items: center;  
    }    

a img {
    width: 10%;
    transition: color.3s ease-in-out;
    transition: 0.30s;
}

a img:hover {
    transform: scale(1.1);
    transition: 0.30s;
}